body {
  background: #212121;
  color: white;
}

#link {
  background: none;
}

#centerTitle {
  text-align: center;
  width: 2500px;
}

#titleMeta {
  font-size: 200px;
}

#userTitle {
  text-align: center;
  font-size: 60px;
}

.impress-enabled div#impress-toolbar {
  position: fixed;
  right: 1px;
  bottom: 1px;
  opacity: 0.6;
}

.impress-enabled div#impress-toolbar>span {
  margin-right: 10px;
}

.zexyButt {
  width: 50%;
  margin: auto;
}

.btn1, .btn2 {
  cursor: pointer;
  margin: 40px;
  border-radius: 3px;
  height: 55px;
  width: 175px;
  border: none;
  color: white;
  background-color: #2196f3;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}

#references {
  margin: auto;
}

.annotation {
  position: relative;
  display: inline-block;
}

.annotation .annotationtext {

  font-family: 'Lato', sans-serif;
  width: 220px;
  font-size: 18px;
  background-color: rgba(38, 38, 38, 0.98);
  color: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 140px;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);

  border-style: solid;
  border-width: 2px;
  border-color: rgba(41, 129, 194, 0.92);
}

.annotation:before {
  /* margin-left: 85px;
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  -webkit-transform:
      translateY(-20px)
      translateX(5px)
      rotate(27deg);
	border-top: 20px solid black;
	border-left: 100px solid transparent; */
}
